@{
    ViewBag.Title = "MiniStatement";
}

<html ng-app="BankingApplication368">

    <head>
        <title>
            MiniStatement
        </title>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/BankingApplication368/App.js"></script>
        <script src="~/Scripts/BankingApplication368/Controller.js"></script>
        </head>
    <body ng-controller="MiniStatementController" >
       <div align="center"> <h1>MiniStatement</h1></div>
        <div align="right"><input type="submit" value="Logout" ng-click="Logout()" /></div>
        <table align="center">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="trans in transactions">
                <td>{{trans.ID}}</td>
                <td>{{trans.Description}}</td>
                <td>{{trans.Date}}</td>
                
            </tr>
        </table>
    </body>

</html>
